services:

  mysql:
    image: "mysql:latest"
    ports:
      - "23306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "your_root_password"
      MYSQL_DATABASE: "blueblog"
    volumes:
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: "redis:latest"
    ports:
      - "26379:6379"

  blueblog:
    build: .
    command: sh -c "./wait.sh mysql:3306 redis:6379 -- ./blueblog ./conf/config.yaml"
    depends_on:
      - mysql
      - redis
    ports:
      - "8888:8888"
